* {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

html {
  scroll-behavior: smooth;
}

label {
  cursor: pointer;;
}

input {
  visibility: hidden;
  position: absolute;
  transform: translateZ(10px);
}

main {
  width: 100%;
  height: 100%;
  display: felex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fullscreen {
  width: 100%;
  height: 100vh;
}

.welcome_page {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 2;
  background-image: url(../img/bg2.jpg);
}

.start {
  flex-direction: column;
  opacity: 0;
  transition: 1s;
  position: absolute;
  top: 0;
  left: 0;
}













body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #cdcdcd;
  background: #0a0a0a;
}

.solar_system {
  width: 100%;
  height: 100%;
  position: relative;
  border: rgb(255, 255, 255) 1px solid;
  outline: solid rgb(255, 255, 255) 1px;
  perspective: 1000px;
  overflow: hidden;
  z-index: 0;
}

.orbit {
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%) translateZ(-1500px) rotateX(60deg);
}

.planet>figure {
  transform: translate(-50%, -50%) rotateZ(0px) rotateX(-60deg);
}

